body{
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin:10px;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}


#main-header{
    background-image: url('../images/computerscience2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    color: white;
    padding: 20px 0;
}

.logocontainter{
    float: left;
    width: 10%;
    padding: 0px;
    padding-top: 50px;
    /* padding-left: 70px; */
    position: center;
    animation: slideMe1 2s ease-in;
}


@keyframes slideMe1{
    0%{
        transform: translateX(-500px)
    }
    60%{
        transform: translateX(30px)
    }
    100%{
        transform: skewX(0deg);
    }
}


@keyframes slideMe{
    0%{
        transform: skewX(5deg) translateY(-5000px);
    }
    60%{
        transform: translatey(30px)
    }
    100%{
        transform: skewX(0deg);
    }
}

/* .myphoto{
    float: left;
    width: 10%;
    padding: 0px;
    padding-top: 50px;
    position: center;
    animation: slideMe 1.5s ease-in;
} */

@keyframes slideMe3{
    0%{
        transform: translateX(1000px);
    }
    60%{
        transform: translateX(-30px)
    }
    100%{
        transform: skewX(0deg);
    }
}


.fade-in {
    animation: slideMe3 ease 2.5s;
}


/* @keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opcity:1;
    }
} */

#navbar{
    background-color: rgb(31, 37, 51);
    color: white;
    padding: 0;
    border: solid 2px rgb(31, 37, 51);
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:white;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover{    /*Changes state when hovering over Link*/
    color: rgb(241, 106, 106);
}
#navbar a:active{   /*Changes state when clicked on*/
    color:	rgb(31, 37, 51)
}

.contactbut{
    padding: 5px 10px;
    padding-right: 0;
    border: solid black 1px;
    border-radius: 10%;
    background-color: rgb(241, 106, 106); 
}

#navbar .contactbut a:hover{
    color: rgb(43, 43, 43);
}

.button{
    color: white;
    font-size: 16px;
    padding-right: 15px;
    padding: 5px 10px;
    /* padding-right: 0; */
    border: solid black 1px;
    border-radius: 10%;
    background-color: rgb(241, 106, 106); 
}

.button:hover{
    color: rgb(31, 37, 51);;
}


/* Showcase: */
#showcase{
    background-image: url('../images/lightgreyabs.jpg');
    /* background-image: url('../images/computerscience.jpg'); */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;  /*min-height so it can expand*/
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: lightcoral;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}


.container2{
    width: 80%;
    margin:auto;
    padding-bottom: 0;
    /* padding-left: 300px; */
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
}

#main{
    /* float:left;
    width: 80%; */
    flex:1 1 600px;
    padding: 0 70px 10px 0;
    box-sizing: border-box;
}

#sidebar{
    flex: 1 1 0px;
    padding-left: 200px;
    padding-bottom: 0;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid black;
}
/* 
.container .hover{
    mask-image: ;
            <div class="logocontainter">
                <img class="logo" src="./images/FRsLogo9.png" alt="Error">
            </div>
} */

#main-footer{
    /* background-color: darkgray; */
    font-family: 'Italic';
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/* Add a media query: condition: excecute if under 600px */
@media(max-width:800px){
    #showcase{
        padding-top: 30px;
    }
    #main{
        width: 100%;
        float: none;
        padding: 10px 0;
    }
    #sidebar{
        width: 100%;
        float: none;
        display: inline;
        padding-left: 10%;
    }
    .logocontainter{
        display: inline;
        /* border: solid 2px black; */
        float: none;
        padding-top: 200px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 200px;
    }
}

/* About page: */
.aboutdiv{
    border: solid 1px darkgray;
    /* border-radius: 1%; */
    padding: 10px;
    margin: 2px;
}

#skillheader{
    text-align: center;
    color: rgb(43, 43, 43);
}
.skills .top{
    text-align: center;
    font-weight: 600;
    /* padding-left: 0px; */
    /* list-style:      */
    padding-bottom: 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
}

.skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px gray solid; */
    /* padding: 10px; */
    /* border-radius: 15x;    gives box curved edges */
}

.list1{
    flex:1 1 160px;
    /* margin: 5px; */
}

.performancelist{
    padding: 40px;

}

/* Languages */

#languages{
    width: 100%
}

.languages .flex {
    flex-wrap: wrap;
}

.languages h2{
    text-align: center;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    
}


.card0{
    animation: slideMe 0.5s ease-in;
}
.card1{
    animation: slideMe 0.8s ease-in;
}
.card2{
    animation: slideMe 1.2s ease-in;
}
.card3{
    animation: slideMe 1.5s ease-in;
}
.card4{
    animation: slideMe 1.8s ease-in;
}
.card5{
    animation: slideMe 2.1s ease-in;
}
.card6{
    animation: slideMe 2.4s ease-in;
}
.card7{
    animation: slideMe 2.7s ease-in;
}
.card8{
    animation: slideMe 3s ease-in;
}
.card9{
    animation: slideMe 3.3s ease-in;
}
.card10{
    animation: slideMe 3.6s ease-in;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container3 {
    /* border: 1px solid black; */
    width: 100%;
    /* max-width: 1900px; */
    margin: 0 auto;
    overflow: auto;
    padding: 0;
}

.contactclass .card:hover{
    transform: translateX(15px);
}